.footer__column-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  vertical-align: middle;
  line-height: 30px;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.footer__column-link:hover {
  opacity: 0.5;
}
