.header__link {
  color:#2f80ed;
  text-decoration: none;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.7s;
  transition-timing-function: linear;
}

.header__link:hover {
  opacity: 0.5;
}
